@model WebFPRTest.Areas.Interno.Models.ListJugadores.JugadorIndividualViewModel
@{
    Layout = "_LayoutInterno";
}
<form>
    <input type="text" asp-for="Id_Jugador" hidden />
    <input type="text" asp-for="Id_Equipo" hidden />
    <input type="text" asp-for="Id_Persona" hidden />
    <div class="container">
        <div class="row g-2">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_001_TipoDocumento" disabled>
                        <option></option>
                        @foreach (var tipoDocumento in Model.TipoDocumentos)
                        {
                            <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                        }
                    </select>
                    <label>Tipo Documento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Documento" disabled />
                    <label>Numero Documento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Paterno" disabled />
                    <label>Paterno</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Materno" disabled />
                    <label>Materno</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Nombres" disabled />
                    <label>Nombres</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" asp-for="FechaNacimiento" disabled />
                    <label>Fecha Nacimiento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_003_Pais" disabled>
                        <option></option>
                        @foreach (var paises in Model.Paises)
                        {
                            <option value="@paises.Id_Parametros">@paises.Descripcion</option>
                        }
                    </select>
                    <label>Pais</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_004_Nacionalidad" disabled>
                        <option></option>
                        @foreach (var nacionalidades in Model.Nacionalidades)
                        {
                            <option value="@nacionalidades.Id_Parametros">@nacionalidades.Descripcion</option>
                        }
                    </select>
                    <label>Nacionalidad</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_002_Sexo" disabled>
                        <option></option>
                        @foreach (var sexos in Model.Sexos)
                        {
                            <option value="@sexos.Id_Parametros">@sexos.Descripcion</option>
                        }
                    </select>
                    <label>Sexo</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" disabled asp-for="Celular" />
                    <label>Celular</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_014_TipoSangre" disabled>
                        <option></option>
                        @foreach (var tipoSangre in Model.TipoSangre)
                        {
                            <option value="@tipoSangre.Id_Parametros">@tipoSangre.Abreviatura</option>
                        }
                    </select>
                    <label>Tipo Sangre</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Correo" disabled />
                    <label>Correo</label>
                </div>

            </div>
            <input type="hidden" id="rutaFotoHidden" value="@Model.RutaFoto" />
            <div class="col-12 d-flex align-items-center" >
                <div class="container-input" >
                    <input type="file"
                           asp-for="Foto"
                           id="fotoJugador"
                           class="inputfile"
                           accept=".jpg,.jpeg,.png"
                           onchange="previewImage(event, 'fotoJugador')"
                           data-val="false" disabled />
                    <label for="fotoJugador">
                        <div class="label-text">Ruta Foto</div>
                        <span class="iborrainputfile">Seleccionar Foto</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImagePreview('fotoJugador')">Ver</a>
                </div>
            </div>
            <div id="DatosApoderado" class="col-12" style="display: none;">
                <div class="card bg-secondary bg-opacity-25 p-2">
                    <div class="row">
                        <h4>Datos del Apoderado</h4>
                    </div>
                    <div class="row g-2 mb-2">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoPaterno" id="ApoderadoPaterno" disabled />
                                <label>Paterno</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoMaterno" id="ApoderadoMaterno" disabled />
                                <label>Materno</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoNombres" id="ApoderadoNombres" disabled />
                                <label>Nombres</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <div class="form-floating">
                                <select class="form-select" asp-for="DatosApoderado.ApoderadoId_001_TipoDocumento" id="ApoderadoId_001_TipoDocumento" disabled>
                                    <option></option>
                                    @foreach (var tipoDocumento in Model.TipoDocumentos)
                                    {
                                        <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                                    }
                                </select>
                                <label>Tipo Documento</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoDocumento" id="ApoderadoDocumento" disabled />
                                <label>Numero Documento</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_005_TipoSeguro" disabled>
                        <option></option>
                        @foreach (var tipoSeguro in Model.TipoSeguros)
                        {
                            <option value="@tipoSeguro.Id_Parametros">@tipoSeguro.Descripcion</option>
                        }
                    </select>
                    <label>Tipo Seguro</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="NumeroPoliza" disabled />
                    <label>Numero Poliza</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" asp-for="FechaPoliza" disabled />
                    <label>Fecha Poliza</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" asp-for="FechaVencimientoPoliza" disabled />
                    <label>Fecha Caducidad</label>
                </div>
            </div>
            <input type="hidden" id="rutaDeslindeHidden" value="@Model.RutaDeslinde" />
            <div class="col-12 d-flex align-items-center" disabled>
                <div class="container-input" disabled>
                    <input type="file"
                           asp-for="Deslinde"
                           id="archivoDeslinde"
                           class="inputfile"
                           accept=".pdf,.doc,.docx"
                           onchange="previewImage(event, 'archivoDeslinde')"
                           data-val="false" disabled />
                    <label for="archivoDeslinde">
                        <div class="label-text">Archivo de Deslinde</div>
                        <span class="iborrainputfile">Seleccionar Documento de Deslinde</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImagePreview('archivoDeslinde')">Ver</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_006_TipoVehiculo" disabled>
                        <option></option>
                        @foreach (var tipoVehiculos in Model.TipoVehiculos)
                        {
                            <option value="@tipoVehiculos.Id_Parametros">@tipoVehiculos.Descripcion</option>
                        }
                    </select>
                    <label>Tipo Vehiculo</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="NumeroPlaca" disabled />
                    <label>Numero Placa</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_007_Division" disabled>
                        <option></option>
                        @foreach (var divisionList in Model.DivisionList)
                        {
                            <option value="@divisionList.Id_Parametros">@divisionList.Descripcion</option>
                        }
                    </select>
                    <label>Division</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_008_Situacion" disabled>
                        <option></option>
                        @foreach (var situacionList in Model.SituacionList)
                        {
                            <option value="@situacionList.Id_Parametros">@situacionList.Descripcion</option>
                        }
                    </select>
                    <label>Situacion</label>
                </div>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" style="height:7rem"></textarea>
                    <label>Observacion FPR</label>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Modal para mostrar la miniatura de la imagen -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Vista previa del logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="logoPreview" src="" alt="Logo preview" style="max-width: 100%; height: auto;" />
            </div>
            <div class="modal-footer">
                <!-- Botón para descargar la imagen original -->
                <a id="downloadBtn" href="#" class="btn btn-primary" download>
                    Descargar Imagen Original
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>