@model WebFPRTest.Areas.Interno.Models.ListJugadores.JugadorDatosViewModel
@{
    Layout = "_LayoutJugador";
    string nRutaFoto = System.IO.Path.GetFileName(Model.RutaFoto);
    string nRutaDeslinde = System.IO.Path.GetFileName(Model.RutaDeslinde);
}
<form asp-area="Interno" asp-action="JugadorDatos" asp-controller="ListJugadores" method="post">
    <input type="text" asp-for="Id_Jugador" hidden />
    <input type="text" asp-for="Id_Equipo" hidden />
    <input type="text" asp-for="Id_Persona" hidden />
    <input type="text" asp-for="Id_009_EstadoJugador" hidden />
    <input type="text" asp-for="Id_016_CostoAcreditacion" hidden />
    <div class="container" style="border-left: 1px solid #dee2e6;border-right:1px solid #dee2e6;border-bottom:1px solid #dee2e6;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: -1rem;">
        <div class="row g-2">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_001_TipoDocumento" disabled>
                        <option></option>
                        @foreach (var tipoDocumento in Model.TipoDocumentos)
                        {
                            <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                        }
                    </select>
                    <label>Tipo Documento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Documento" disabled />
                    <label>Numero Documento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Paterno" disabled />
                    <label>Paterno</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Materno" disabled />
                    <label>Materno</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Nombres" disabled />
                    <label>Nombres</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" asp-for="FechaNacimiento" disabled />
                    <label>Fecha Nacimiento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_003_Pais" disabled>
                        <option></option>
                        @foreach (var paises in Model.Paises)
                        {
                            <option value="@paises.Id_Parametros">@paises.Descripcion</option>
                        }
                    </select>
                    <label>Pais</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_004_Nacionalidad" disabled>
                        <option></option>
                        @foreach (var nacionalidades in Model.Nacionalidades)
                        {
                            <option value="@nacionalidades.Id_Parametros">@nacionalidades.Descripcion</option>
                        }
                    </select>
                    <label>Nacionalidad</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_002_Sexo" disabled>
                        <option></option>
                        @foreach (var sexos in Model.Sexos)
                        {
                            <option value="@sexos.Id_Parametros">@sexos.Descripcion</option>
                        }
                    </select>
                    <label>Sexo</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" disabled asp-for="Celular" />
                    <label>Celular</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_014_TipoSangre" disabled>
                        <option></option>
                        @foreach (var tipoSangre in Model.TipoSangre)
                        {
                            <option value="@tipoSangre.Id_Parametros">@tipoSangre.Abreviatura</option>
                        }
                    </select>
                    <label>Tipo Sangre</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Correo" disabled />
                    <label>Correo</label>
                </div>

            </div>
            <input type="hidden" id="rutaFotoHidden" value="@Model.RutaFoto" />
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" id="jugadorFoto" value="@nRutaFoto" disabled />
                    <label>Foto Jugador</label>
                </div>
                <div class="ms-2">
                    <a href="#" data-bs-toggle="modal" onclick="showFilePreview('imagen')">Ver</a>
                </div>
            </div>
            <div id="DatosApoderado" class="col-12" style="display: none;">
                <div class="card bg-secondary bg-opacity-25 p-2">
                    <div class="row">
                        <h4>Datos del Apoderado</h4>
                    </div>
                    <div class="row g-2 mb-2">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoPaterno" id="ApoderadoPaterno" disabled />
                                <label>Paterno</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoMaterno" id="ApoderadoMaterno" disabled />
                                <label>Materno</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoNombres" id="ApoderadoNombres" disabled />
                                <label>Nombres</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <div class="form-floating">
                                <select class="form-select" asp-for="DatosApoderado.ApoderadoId_001_TipoDocumento" id="ApoderadoId_001_TipoDocumento" disabled>
                                    <option></option>
                                    @foreach (var tipoDocumento in Model.TipoDocumentos)
                                    {
                                        <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                                    }
                                </select>
                                <label>Tipo Documento</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoDocumento" id="ApoderadoDocumento" disabled />
                                <label>Numero Documento</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_005_TipoSeguro" disabled>
                        <option></option>
                        @foreach (var tipoSeguro in Model.TipoSeguros)
                        {
                            <option value="@tipoSeguro.Id_Parametros">@tipoSeguro.Descripcion</option>
                        }
                    </select>
                    <label>Tipo Seguro</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="NumeroPoliza" disabled />
                    <label>Numero Poliza</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" asp-for="FechaPoliza" disabled />
                    <label>Fecha Poliza</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" asp-for="FechaVencimientoPoliza" disabled />
                    <label>Fecha Caducidad</label>
                </div>
            </div>
            <input type="hidden" id="rutaDeslindeHidden" value="@Model.RutaDeslinde" />
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                <div class="form-floating flex-grow-1">
                    <input type="text" class="form-control" id="DocumentoDeslinde" value="@nRutaDeslinde" disabled />
                    <label>Documento Deslinde</label>
                </div>
                <div class="ms-2">
                    <a href="#" data-bs-toggle="modal" onclick="showFilePreview('pdf')">Ver</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_006_TipoVehiculo" disabled>
                        <option></option>
                        @foreach (var tipoVehiculos in Model.TipoVehiculos)
                        {
                            <option value="@tipoVehiculos.Id_Parametros">@tipoVehiculos.Descripcion</option>
                        }
                    </select>
                    <label>Tipo Vehiculo</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="NumeroPlaca" disabled />
                    <label>Numero Placa</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_007_Division" disabled>
                        <option></option>
                        @foreach (var divisionList in Model.DivisionList)
                        {
                            <option value="@divisionList.Id_Parametros">@divisionList.Descripcion</option>
                        }
                    </select>
                    <label>Division</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_008_Situacion" disabled>
                        <option></option>
                        @foreach (var situacionList in Model.SituacionList)
                        {
                            <option value="@situacionList.Id_Parametros">@situacionList.Descripcion</option>
                        }
                    </select>
                    <label>Situacion</label>
                </div>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" style="height:7rem" asp-for="Observacion"></textarea>
                    <label>Observacion FPR</label>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" asp-for="Flag_Aprobacion1">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Habilitado</label>
                </div>
                <input type="hidden" id="estadoJugador" value="@Model.Id_009_EstadoJugador">
            </div>
        </div>
        <div class="mt-2">
            <button id="btnGrabar" class="btn btn-outline-success" type="submit">Grabar</button>
        </div>
    </div>
</form>
<!--Modal para alerta inicial de la pagina-->
@if (TempData["Mensaje"] != null)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @TempData["Mensaje"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal para imágenes -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Vista previa de la imagen</h5>
            </div>
            <div class="modal-body text-center">
                <img id="imagePreview" src="" alt="Image preview" style="max-width: 100%; height: auto;" />
            </div>
            <div class="modal-footer">
                <a id="imageDownloadBtn" href="#" class="btn btn-primary" download>
                    Descargar Imagen Original
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para PDFs -->
<div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfModalLabel">Vista previa del PDF</h5>
            </div>
            <div class="modal-body">
                <embed id="pdfPreview" src="" type="application/pdf" width="100%" height="600px" />
            </div>
            <div class="modal-footer">
                <a id="pdfDownloadBtn" href="#" class="btn btn-primary" download>
                    Descargar PDF Original
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let estadoJugador = document.getElementById("estadoJugador").value;
        let checkbox = document.getElementById("flexSwitchCheckDefault");

        if (estadoJugador !== "441" && estadoJugador !== "442") {
            checkbox.disabled = true; // Deshabilita el checkbox
        }

        // Deshabilitar el botón si no es 441 o 442
        btnGrabar.disabled = !(estadoJugador === "441" || estadoJugador === "442");

        // Obtener el valor del input hidden
        var costoAcreditacion = parseInt(document.getElementById("Id_016_CostoAcreditacion").value, 10);

        // Obtener el div que queremos mostrar u ocultar
        var datosApoderadoDiv = document.getElementById("DatosApoderado");

        // Validar el valor y mostrar/ocultar el div
        if (costoAcreditacion < 452) {
            datosApoderadoDiv.style.display = "block"; // Mostrar si es menor a 452
        } else {
            datosApoderadoDiv.style.display = "none"; // Ocultar si es 452 o mayor
        }


        //Mostrar modal al cargar la pagina
        var mensaje = '@TempData["Mensaje"]';
        if (mensaje && mensaje.trim() !== '') {
            $('#myModal').modal('show');
        }
    });

    function showFilePreview(type) {
        let rutaArchivo = document.getElementById(type === 'imagen' ? 'rutaFotoHidden' : 'rutaDeslindeHidden').value;
        if (!rutaArchivo) {
            alert('No hay archivo disponible.');
            return;
        }
        let webPath = formatPath(rutaArchivo);
        if (type === 'imagen') {
            // Configura el modal de imagen
            document.getElementById('imagePreview').src = webPath;
            document.getElementById('imageDownloadBtn').href = webPath;
            new bootstrap.Modal(document.getElementById('imageModal')).show();
        } else if (type === 'pdf') {
            // Configura el modal de PDF
            document.getElementById('pdfPreview').src = webPath;
            document.getElementById('pdfDownloadBtn').href = webPath;
            new bootstrap.Modal(document.getElementById('pdfModal')).show();
        }
    }
    // Función auxiliar para formatear rutas
    function formatPath(path) {
        let webPath = path.replace('wwwroot\\', '').replace('wwwroot/', '').replace(/\\/g, '/');
        if (!webPath.startsWith('/')) {
            webPath = '/' + webPath;
        }
        return webPath;
    }
</script>