@model WebFPRTest.Areas.Interno.Models.ListJugadores.JugadoresFiltroViewModel
@{
    Layout = "_LayoutInterno";
}
<form asp-area="Interno" asp-controller="ListJugadores" asp-action="ListJugadores" method="post">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row pt-3 pb-2 ps-3">
                    <h1>LISTA DE JUGADORES</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Apellido Paterno" asp-for="Paterno" id="Paterno" />
                            <label for="Paterno">Apellido Paterno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Apellido Materno" asp-for="Materno" id="Materno" />
                            <label>Apellido Materno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Nombres" asp-for="Nombres" id="Nombres" />
                            <label>Nombres</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Numero Documento" asp-for="Documento" id="Documento" />
                            <label>Numero Documento</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_007_Division">
                                <option></option>
                                @foreach (var divisiones in Model.ListaDivisiones)
                                {
                                    <option value="@divisiones.Id_Parametros">@divisiones.Descripcion</option>
                                }
                            </select>
                            <label>División</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_Equipo" id="Id_Equipo">
                                <option></option>
                                @foreach (var listaEquipos in Model.EquiposList)
                                {
                                    <option value="@listaEquipos.Id_Equipo">@listaEquipos.Nombre</option>
                                }
                            </select>
                            <label for="Id_Equipo">Equipo</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_009_EstadoJugador" id="Id_009_EstadoJugador">
                                <option></option>
                                @foreach (var estadosJugador in Model.ListaEstadoJugador)
                                {
                                    <option value="@estadosJugador.Id_Parametros">@estadosJugador.Descripcion</option>
                                }
                            </select>
                            <label for="Id_009_EstadoJugador">Estado Jugador</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn btn-outline-primary me-2">Filtrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col col-4 col-sm-4 col-md-3 col-lg-2">
                <p class="leyenda-Creado">Creado</p>
            </div>
            <div class="col col-4 col-sm-4 col-md-3 col-lg-2">
                <p class="leyenda-SolicitudHabilitacion">Solicitud Habilitacion</p>
            </div>
            <div class="col col-4 col-sm-4 col-md-3 col-lg-2">
                <p class="leyenda-Habilitado">Habilitado</p>
            </div>
            <div class="col col-4 col-sm-4 col-md-3 col-lg-2">
                <p class="leyenda-SolicitudAcreditacion">Solicitud Acreditacion</p>
            </div>
            <div class="col col-4 col-sm-4 col-md-3 col-lg-2">
                <p class="leyenda-Acreditado">Acreditado</p>
            </div>
            <div class="col col-4 col-sm-4 col-md-3 col-lg-2">
                <p class="leyenda-SolicitudInscripcion">Revisión Documentaria</p>
            </div>
            <div class="col col-4 col-sm-4 col-md-3 col-lg-2">
                <p class="leyenda-Inscrito">Inscrito</p>
            </div>
        </div>
        <div class="table-responsive-md mt-2">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>N°</th>
                        <th>Nombres</th>
                        <th>Equipo</th>
                        <th>Tipo Documento</th>
                        <th>Documento</th>
                        <th>Division</th>
                        <th>Situacion</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jugadores in Model.ListaJugadores)
                    {
                        string colorFondo = jugadores.Id_009_EstadoJugador == 441 ? "#FFFEC4  " :
                        jugadores.Id_009_EstadoJugador == 442 ? "#F0E5A3" :
                        jugadores.Id_009_EstadoJugador == 443 ? "#FFDB99" :
                        jugadores.Id_009_EstadoJugador == 444 ? "#FFC966" :
                        jugadores.Id_009_EstadoJugador == 445 ? "#E2FBDF" :
                        jugadores.Id_009_EstadoJugador == 446 ? "#C3F6BF" :
                        "#FFFFFF";
                        bool esHabilitado = jugadores.Id_009_EstadoJugador >= 444;
                        <tr class="align-middle">
                            <td style="background-color:@colorFondo;text-align:center">@jugadores.Indice</td>
                            <td>@jugadores.ApellidosYNombre</td>
                            <td>@jugadores.NombreEquipo</td>
                            <td>@jugadores.TipoDocumento</td>
                            <td>@jugadores.Documento</td>
                            <td>@jugadores.Division</td>
                            <td>@jugadores.Situacion</td>
                            <td class="text-end">
                                <a class="btn btn-outline-warning" asp-area="Interno" asp-controller="ListJugadores" asp-action="GuardarJugadorSeleccionado" asp-route-Id_Jugador="@jugadores.Id_Jugador">
                                    <i class="bi-eye"></i>
                                </a>
                            </td>
                            <td class="text-end">
                                <a class="btn btn-outline-primary">
                                    <i class="bi-files"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</form>
