@model WebFPRTest.Areas.Externo.Models.Jugador.JugadorViewModel
@{
    Layout = "_LayoutExterno";
    var nombreEquipo = Context.Session.GetString("NombreEquipo");
}
<form method="post" asp-area="Externo" asp-controller="Jugador" asp-action="Jugador" enctype="multipart/form-data">
    <input type="text" asp-for="Id_Jugador" hidden/>
    <input type="text" asp-for="Id_Equipo" hidden/>
    <input type="text" asp-for="Id_Persona" hidden/>
    <input type="text" asp-for="Id_009_EstadoJugador" hidden/>
     <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>@nombreEquipo</h2>
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_001_TipoDocumento" id="Id_001_TipoDocumento" onchange="ValidarPersona()" required>
                                <option></option>
                                @foreach (var tipoDocumento in Model.TipoDocumentos)
                                {
                                    <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                                }
                            </select>
                            <label>Tipo Documento</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Documento" id="Documento" onblur="ValidarPersona()" required />
                            <label>Numero Documento</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Paterno" id="Paterno" required />
                            <label>Paterno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Materno" id="Materno" required />
                            <label>Materno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Nombres" id="Nombres" required />
                            <label>Nombres</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" asp-for="FechaNacimiento" id="FechaNacimiento" onblur="datosApoderado(this)" required />
                            <label>Fecha Nacimiento</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_003_Pais" id="Id_003_Pais" required>
                                <option></option>
                                @foreach (var paises in Model.Paises)
                                {
                                    <option value="@paises.Id_Parametros">@paises.Descripcion</option>
                                }
                            </select>
                            <label>Pais</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_004_Nacionalidad" id="Id_004_Nacionalidad" required>
                                <option></option>
                                @foreach (var nacionalidades in Model.Nacionalidades)
                                {
                                    <option value="@nacionalidades.Id_Parametros">@nacionalidades.Descripcion</option>
                                }
                            </select>
                            <label>Nacionalidad</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_002_Sexo" id="Id_002_Sexo" required>
                                <option></option>
                                @foreach (var sexos in Model.Sexos)
                                {
                                    <option value="@sexos.Id_Parametros">@sexos.Descripcion</option>
                                }
                            </select>
                            <label>Sexo</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Celular" id="Celular" required />
                            <label>Celular</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_014_TipoSangre" id="Id_014_TipoSangre" required>
                                <option></option>
                                @foreach (var tipoSangre in Model.TipoSangre)
                                {
                                    <option value="@tipoSangre.Id_Parametros">@tipoSangre.Abreviatura</option>
                                }
                            </select>
                            <label>Tipo Sangre</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Correo" id="Correo" required />
                            <label>Correo</label>
                        </div>
                    </div>
                    <input type="hidden" id="rutaFotoHidden" value="@Model.RutaFoto" />
                    <div class="col-12 d-flex align-items-center">
                        <div class="container-input">
                            <input type="file"
                                   id="file-foto"
                                   class="inputfile inputfile-1"
                                   asp-for="@Model.Foto"
                                   accept=".jpg,.jpeg,.png"
                                   onchange="previewFile(event, 'imagen')"
                                   data-val="false" />
                            <label for="file-foto">
                                <div class="label-text">Foto</div>
                                <span class="iborrainputfile">Seleccionar Foto</span>
                            </label>
                        </div>
                        <div class="ms-auto px-3">
                            <a href="#" onclick="showFilePreview('imagen')" data-bs-toggle="modal" data-bs-target="#imageModal">Ver</a>
                        </div>
                    </div>
                    <div id="DatosApoderado" class="col-12" style="display: none;">
                        <div class="card bg-secondary bg-opacity-25 p-2">
                            <div class="row">
                                <h4>Datos del Apoderado</h4>
                            </div>
                            <div class="row g-2 mb-2">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoPaterno" id="ApoderadoPaterno" />
                                        <label>Paterno</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoMaterno" id="ApoderadoMaterno" />
                                        <label>Materno</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoNombres" id="ApoderadoNombres" />
                                        <label>Nombres</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-floating">
                                        <select class="form-select" asp-for="DatosApoderado.ApoderadoId_001_TipoDocumento" id="ApoderadoId_001_TipoDocumento">
                                            <option></option>
                                            @foreach (var tipoDocumento in Model.TipoDocumentos)
                                            {
                                                <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                                            }
                                        </select>
                                        <label>Tipo Documento</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoDocumento" id="ApoderadoDocumento" />
                                        <label>Numero Documento</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_005_TipoSeguro" id="Id_005_TipoSeguro" required>
                                <option></option>
                                @foreach (var tipoSeguro in Model.TipoSeguros)
                                {
                                    <option value="@tipoSeguro.Id_Parametros">@tipoSeguro.Descripcion</option>
                                }
                            </select>
                            <label>Tipo Seguro</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="NumeroPoliza" id="NumeroPoliza" required />
                            <label>Numero Poliza</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" asp-for="FechaPoliza" id="FechaPoliza" required />
                            <label>Fecha Poliza</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" asp-for="FechaVencimientoPoliza" id="FechaVencimientoPoliza" required />
                            <label>Fecha Caducidad</label>
                        </div>
                    </div>
                    <input type="hidden" id="rutaPdfHidden" value="@Model.RutaDeslinde" />
                    <div class="col-12 d-flex align-items-center">
                        <div class="container-input">
                            <input type="file"
                                   id="file-pdf"
                                   class="inputfile inputfile-1"
                                   asp-for="Deslinde"
                                   accept=".pdf"
                                   onchange="previewFile(event, 'pdf')"
                                   data-val="false" />
                            <label for="file-pdf">
                                <div class="label-text">Documento Deslinde</div>
                                <span class="iborrainputfile">Seleccionar Documento Deslinde</span>
                            </label>
                        </div>
                        <div class="ms-auto px-3">
                            <a href="#" onclick="showFilePreview('pdf')" data-bs-toggle="modal" data-bs-target="#pdfModal">Ver</a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_006_TipoVehiculo">
                                <option></option>
                                @foreach (var tipoVehiculos in Model.TipoVehiculos)
                                {
                                    <option value="@tipoVehiculos.Id_Parametros">@tipoVehiculos.Descripcion</option>
                                }
                            </select>
                            <label>Tipo Vehiculo</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="NumeroPlaca" />
                            <label>Numero Placa</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_007_Division" required>
                                <option></option>
                                @foreach (var divisionList in Model.DivisionList)
                                {
                                    <option value="@divisionList.Id_Parametros">@divisionList.Descripcion</option>
                                }
                            </select>
                            <label>Division</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_008_Situacion" required>
                                <option></option>
                                @foreach (var situacionList in Model.SituacionList)
                                {
                                    <option value="@situacionList.Id_Parametros">@situacionList.Descripcion</option>
                                }
                            </select>
                            <label>Situacion</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 g-2">
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" style="height:7rem" disabled></textarea>
                            <label>Observacion FPR</label>
                        </div>
                    </div>
                </div>

                <div class="mt-2">
                    <button type="submit" class="btn btn-outline-primary" id="btnGuardar">Guardar</button>
                </div>
            </div>
        </div>

    </div>
</form>
<!--Modal para alerta inicial de la pagina-->
@if (TempData["Mensaje"] != null)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @TempData["Mensaje"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal para alerta de jugador en otro equipo-->
<div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aviso</h5>
            </div>
            <div class="modal-body">
                <!-- Aquí se mostrará el mensaje -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para imágenes -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Vista previa de la imagen</h5>
            </div>
            <div class="modal-body text-center">
                <img id="imagePreview" src="" alt="Image preview" style="max-width: 100%; height: auto;" />
            </div>
            <div class="modal-footer">
                <a id="imageDownloadBtn" href="#" class="btn btn-primary" download>
                    Descargar Imagen Original
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para PDFs -->
<div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfModalLabel">Vista previa del PDF</h5>
            </div>
            <div class="modal-body">
                <embed id="pdfPreview" src="" type="application/pdf" width="100%" height="600px" />
            </div>
            <div class="modal-footer">
                <a id="pdfDownloadBtn" href="#" class="btn btn-primary" download>
                    Descargar PDF Original
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        //Mostrar modal al cargar la pagina
        var mensaje = '@TempData["Mensaje"]';
        if (mensaje && mensaje.trim() !== '') {
            $('#myModal').modal('show');
        }

        //mostrar datos apoderado
        var fechaInput = document.getElementById("FechaNacimiento");
        if (fechaInput) {
            datosApoderado(fechaInput); // Llamar a la función con el input actual
        }

        // Para validar campos
        const contentDivs = document.querySelectorAll('[contenteditable][required]');
        contentDivs.forEach((div) => {
            validateContent(div.id);
        });

        // Selecciona todos los inputs y selects con atributo `required`
        const inputs = document.querySelectorAll('input[required], select[required]');

        inputs.forEach((input) => {
            // Agrega un evento `input` para validar en tiempo real
            input.addEventListener('input', function () {
                if (input.checkValidity()) {
                    input.classList.remove('is-invalid');
                    input.classList.add('is-valid');
                } else {
                    input.classList.remove('is-valid');
                    input.classList.add('is-invalid');
                }
            });

            // Aplica la validación al salir del campo
            input.addEventListener('blur', function () {
                if (input.checkValidity()) {
                    input.classList.remove('is-invalid');
                    input.classList.add('is-valid');
                } else {
                    input.classList.remove('is-valid');
                    input.classList.add('is-invalid');
                }
            });
        });

        // Aplica un borde rojo inicial para campos requeridos vacíos
        inputs.forEach((input) => {
            if (!input.value) {
                input.classList.add('is-invalid');
            }
        });
        //Inicializar el nombre 
        initializeFileNames();
    });
    function ValidarPersona() {
        var idTipoDocumento = $("#Id_001_TipoDocumento").val();
        var documento = $("#Documento").val();
        var btnGuardar = $("#btnGuardar");

        if (idTipoDocumento && documento) {
            $.get("/Externo/Jugador/ValidarPersona", { idTipoDocumento: idTipoDocumento, documento: documento }, function (response) {
                if (response.success) {
                    if (response.redirectUrl) {
                        window.location.href = response.redirectUrl;
                        return;
                    }

                    // Habilitar el botón y limpiar campos si es necesario
                    btnGuardar.prop("disabled", false);
                    $("#Id_Persona").val("");
                    $("#Paterno").val("");
                    $("#Materno").val("");
                    $("#Nombres").val("");
                    $("#Celular").val("");
                    $("#Correo").val("");
                    $("#FechaNacimiento").val("");
                    $("#Id_003_Pais").val("");
                    $("#Id_004_Nacionalidad").val("");
                } else {
                    // Deshabilitar el botón y mostrar mensaje en modal
                    btnGuardar.prop("disabled", true);
                    $("#modalMensaje .modal-body").text(response.message);
                    $("#modalMensaje").modal("show");
                }
            });
        }
    }

    //Para manejar archivos (imagenes y pdf)
    let selectedImage = null;
    let selectedPdf = null;
    (function (document, window, index) {
        var inputs = document.querySelectorAll('.inputfile');
        Array.prototype.forEach.call(inputs, function (input) {
            var label = input.nextElementSibling,
                labelVal = label.querySelector('.iborrainputfile').innerHTML;
            input.addEventListener('change', function (e) {
                var fileName = '';
                if (this.files && this.files.length > 1)
                    fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                else
                    fileName = e.target.value.split('\\').pop();
                if (fileName) {
                    label.querySelector('.iborrainputfile').innerHTML = fileName;
                    input.closest('.container-input').classList.add('has-file');
                } else {
                    label.querySelector('.iborrainputfile').innerHTML = labelVal;
                    input.closest('.container-input').classList.remove('has-file');
                }
            });
        });
    }(document, window, 0));

    // Función para previsualizar el archivo seleccionado con validación de tamaño
    function previewFile(event, type) {
        const file = event.target.files[0];
        if (!file) return;

        const maxSize = type === 'imagen' ? 1 * 1024 * 1024 : 3 * 1024 * 1024; // 1MB para imagen, 3MB para PDF

        if (file.size > maxSize) {
            alert(`El archivo seleccionado excede el tamaño máximo permitido (${type === 'imagen' ? '1MB' : '3MB'}).`);
            event.target.value = ''; // Limpiar el input
            return;
        }

        if (type === 'imagen') {
            if (!file.type.startsWith('image/')) {
                alert('Por favor, seleccione un archivo de imagen válido.');
                event.target.value = '';
                return;
            }
            selectedImage = file;
        } else if (type === 'pdf') {
            if (file.type !== 'application/pdf') {
                alert('Por favor, seleccione un archivo PDF válido.');
                event.target.value = '';
                return;
            }
            selectedPdf = file;
        }

        // Actualizar el texto del input
        const span = event.target.nextElementSibling.querySelector('.iborrainputfile');
        if (span) {
            span.textContent = file.name;
        }
    }

    // Función para mostrar la previsualización del archivo
    function showFilePreview(type) {
        if (type === 'imagen') {
            const imagePreview = document.getElementById('imagePreview');
            const rutaFoto = document.getElementById('rutaFotoHidden').value;
            const downloadBtn = document.getElementById('imageDownloadBtn');

            if (selectedImage) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                    downloadBtn.href = e.target.result;
                }
                reader.readAsDataURL(selectedImage);
            } else if (rutaFoto) {
                let webPath = formatPath(rutaFoto);
                imagePreview.src = webPath;
                downloadBtn.href = webPath;
            }
        } else if (type === 'pdf') {
            const pdfPreview = document.getElementById('pdfPreview');
            const rutaPdf = document.getElementById('rutaPdfHidden').value;
            const downloadBtn = document.getElementById('pdfDownloadBtn');

            if (selectedPdf) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    pdfPreview.src = e.target.result;
                    downloadBtn.href = e.target.result;
                }
                reader.readAsDataURL(selectedPdf);
            } else if (rutaPdf) {
                let webPath = formatPath(rutaPdf);
                pdfPreview.src = webPath;
                downloadBtn.href = webPath;
            }
        }
    }

    // Función auxiliar para formatear las rutas
    function formatPath(path) {
        let webPath = path
            .replace('wwwroot\\', '')
            .replace('wwwroot/', '')
            .replace(/\\/g, '/');
    
        if (!webPath.startsWith('/')) {
            webPath = '/' + webPath;
        }
        return webPath;
    }

    //Para mostrar los datos del apoderado
    function datosApoderado(nacimiento) {
        var fechaNacimiento = new Date(nacimiento.value); // Convertir a Date
        if (isNaN(fechaNacimiento)) {
            console.log("Fecha inválida");
            return;
        }

        var hoy = new Date();
        var edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
        var mesActual = hoy.getMonth();
        var diaActual = hoy.getDate();
        var mesNacimiento = fechaNacimiento.getMonth();
        var diaNacimiento = fechaNacimiento.getDate();

        // Ajustar si aún no ha cumplido años en el año actual
        if (mesNacimiento > mesActual || (mesNacimiento === mesActual && diaNacimiento > diaActual)) {
            edad--;
        }
        //console.log(edad);
        var divApoderado = document.getElementById("DatosApoderado");
        //var campos = ["ApoderadoPaterno", "ApoderadoMaterno", "ApoderadoNombres", "ApoderadoTipoDocumento", "ApoderadoDocumento"];

        if (edad < 18) {
            divApoderado.style.display = "block"; // Mostrar el div
            //campos.forEach(id => document.getElementById(id).setAttribute("required", "required"));
        } else {
            divApoderado.style.display = "none"; // Ocultar el div
            //campos.forEach(id => document.getElementById(id).removeAttribute("required"));
        }
    }

    // Inicializar nombres de archivos al cargar la página
    function initializeFileNames() {
        const rutaFoto = document.getElementById('rutaFotoHidden').value;
        const rutaPdf = document.getElementById('rutaPdfHidden').value;

        if (rutaFoto) {
            const fileName = rutaFoto.split('\\').pop(); // Obtiene el último segmento después de \
            const fotoInput = document.getElementById('file-foto');
            if (fotoInput) {
                const label = fotoInput.nextElementSibling;
                const span = label.querySelector('.iborrainputfile');
                if (span) {
                    span.textContent = fileName;
                    fotoInput.closest('.container-input').classList.add('has-file');
                }
            }
        }

        if (rutaPdf) {
            const fileName = rutaPdf.split('\\').pop();
            const pdfInput = document.getElementById('file-pdf');
            if (pdfInput) {
                const label = pdfInput.nextElementSibling;
                const span = label.querySelector('.iborrainputfile');
                if (span) {
                    span.textContent = fileName;
                    pdfInput.closest('.container-input').classList.add('has-file');
                }
            }
        }
    }
</script>