@model WebFPRTest.Areas.Externo.Models.Jugador.JugadorViewModel
@{
    Layout = "_LayoutExterno";
}
<form method="post" asp-area="Externo" asp-controller="Jugador" asp-action="Jugador" enctype="multipart/form-data">
    <input type="text" asp-for="Id_Jugador" hidden/>
    <input type="text" asp-for="Id_Equipo" hidden/>
    <input type="text" asp-for="Id_Persona" hidden/>
    <div class="container">
        <div class="row g-2">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_001_TipoDocumento" required>
                        <option></option>
                        @foreach (var tipoDocumento in Model.TipoDocumentos)
                        {
                            <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                        }
                    </select>
                    <label>Tipo Documento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Documento" required />
                    <label>Numero Documento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Paterno"required/>
                    <label>Paterno</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Materno" required/>
                    <label>Materno</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Nombres" required />
                    <label>Nombres</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" asp-for="FechaNacimiento" required onblur="datosApoderado(this)"/>
                    <label>Fecha Nacimiento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_003_Pais" required>
                        <option></option>
                        @foreach (var paises in Model.Paises)
                        {
                            <option value="@paises.Id_Parametros">@paises.Descripcion</option>
                        }
                    </select>
                    <label>Pais</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_004_Nacionalidad" required>
                        <option></option>
                        @foreach (var nacionalidades in Model.Nacionalidades)
                        {
                            <option value="@nacionalidades.Id_Parametros">@nacionalidades.Descripcion</option>
                        }
                    </select>
                    <label>Nacionalidad</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_002_Sexo" required>
                        <option></option>
                        @foreach (var sexos in Model.Sexos)
                        {
                            <option value="@sexos.Id_Parametros">@sexos.Descripcion</option>
                        }
                    </select>
                    <label>Sexo</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" required asp-for="Celular"/>
                    <label>Celular</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_014_TipoSangre" required>
                        <option></option>
                        @foreach (var tipoSangre in Model.TipoSangre)
                        {
                            <option value="@tipoSangre.Id_Parametros">@tipoSangre.Abreviatura</option>
                        }
                    </select>
                    <label>Tipo Sangre</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="Correo" required/>
                    <label>Correo</label>
                </div>

            </div>
            <input type="hidden" id="rutaFotoHidden" value="@Model.RutaFoto" />
            <div class="col-12 d-flex align-items-center" >
                <div class="container-input" >
                    <input type="file"
                        asp-for="Foto"
                           id="fotoJugador"
                           class="inputfile"
                           accept=".jpg,.jpeg,.png"
                           onchange="previewImage(event, 'fotoJugador')"
                           data-val="false" />
                    <label for="fotoJugador">
                        <div class="label-text">Ruta Foto</div>
                        <span class="iborrainputfile">Seleccionar Foto</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImagePreview('fotoJugador')">Ver</a>
                </div>
            </div>
            <div id="DatosApoderado" class="col-12" style="display: none;">
                <div class="card bg-secondary bg-opacity-25 p-2">
                    <div class="row">
                        <h4>Datos del Apoderado</h4>
                    </div>
                    <div class="row g-2 mb-2">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoPaterno" id="ApoderadoPaterno" />
                                <label>Paterno</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoMaterno" id="ApoderadoMaterno" />
                                <label>Materno</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoNombres" id="ApoderadoNombres" />
                                <label>Nombres</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <div class="form-floating">
                                <select class="form-select" asp-for="DatosApoderado.ApoderadoId_001_TipoDocumento" id="ApoderadoId_001_TipoDocumento">
                                    <option></option>
                                    @foreach (var tipoDocumento in Model.TipoDocumentos)
                                    {
                                        <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                                    }
                                </select>
                                <label>Tipo Documento</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="DatosApoderado.ApoderadoDocumento" id="ApoderadoDocumento" />
                                <label>Numero Documento</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_005_TipoSeguro" required>
                        <option></option>
                        @foreach (var tipoSeguro in Model.TipoSeguros)
                        {
                            <option value="@tipoSeguro.Id_Parametros">@tipoSeguro.Descripcion</option>
                        }
                    </select>
                    <label>Tipo Seguro</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="NumeroPoliza" required/>
                    <label>Numero Poliza</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" asp-for="FechaPoliza" required/>
                    <label>Fecha Poliza</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" asp-for="FechaVencimientoPoliza" required/>
                    <label>Fecha Caducidad</label>
                </div>
            </div>
            <input type="hidden" id="rutaDeslindeHidden" value="@Model.RutaDeslinde" />
            <div class="col-12 d-flex align-items-center">
                <div class="container-input">
                    <input type="file"
                        asp-for="Deslinde"
                           id="archivoDeslinde"
                           class="inputfile"
                           accept=".pdf,.doc,.docx"
                           onchange="previewImage(event, 'archivoDeslinde')"
                           data-val="false" />
                    <label for="archivoDeslinde">
                        <div class="label-text">Archivo de Deslinde</div>
                        <span class="iborrainputfile">Seleccionar Documento de Deslinde</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImagePreview('archivoDeslinde')">Ver</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_006_TipoVehiculos">
                        <option></option>
                        @foreach (var tipoVehiculos in Model.TipoVehiculos)
                        {
                            <option value="@tipoVehiculos.Id_Parametros">@tipoVehiculos.Descripcion</option>
                        }
                    </select>
                    <label>Tipo Vehiculo</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="NumeroPlaca"/>
                    <label>Numero Placa</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_007_Division" required>
                        <option></option>
                        @foreach (var divisionList in Model.DivisionList)
                        {
                            <option value="@divisionList.Id_Parametros">@divisionList.Descripcion</option>
                        }
                    </select>
                    <label>Division</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_008_Situacion" required>
                        <option></option>
                        @foreach (var situacionList in Model.SituacionList)
                        {
                            <option value="@situacionList.Id_Parametros">@situacionList.Descripcion</option>
                        }
                    </select>
                    <label>Situacion</label>
                </div>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" style="height:7rem" disabled></textarea>
                    <label>Observacion FPR</label>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary">Guardar</button>
</form>
<!-- Modal para el mensaje de del TempData -->
@if (TempData["Mensaje"] != null)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @TempData["Mensaje"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
<!-- Modal para mostrar la miniatura de la imagen -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Vista previa del logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="logoPreview" src="" alt="Logo preview" style="max-width: 100%; height: auto;" />
            </div>
            <div class="modal-footer">
                <!-- Botón para descargar la imagen original -->
                <a id="downloadBtn" href="#" class="btn btn-primary" download>
                    Descargar Imagen Original
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        //Mostrar modal al cargar la pagina
        var mensaje = '@TempData["Mensaje"]';
        if (mensaje && mensaje.trim() !== '') {
            $('#myModal').modal('show');
        }

        //mostrar datos apoderado
        var fechaInput = document.getElementById("FechaNacimiento");
        if (fechaInput) {
            datosApoderado(fechaInput); // Llamar a la función con el input actual
        }
        
        const contentDivs = document.querySelectorAll('[contenteditable][required]');
        contentDivs.forEach((div) => {
            validateContent(div.id);
        });

        // Selecciona todos los inputs y selects con atributo `required`
        const inputs = document.querySelectorAll('input[required], select[required]');

        inputs.forEach((input) => {
            // Agrega un evento `input` para validar en tiempo real
            input.addEventListener('input', function () {
                if (input.checkValidity()) {
                    input.classList.remove('is-invalid');
                    input.classList.add('is-valid');
                } else {
                    input.classList.remove('is-valid');
                    input.classList.add('is-invalid');
                }
            });

            // Aplica la validación al salir del campo
            input.addEventListener('blur', function () {
                if (input.checkValidity()) {
                    input.classList.remove('is-invalid');
                    input.classList.add('is-valid');
                } else {
                    input.classList.remove('is-valid');
                    input.classList.add('is-invalid');
                }
            });
        });

        // Aplica un borde rojo inicial para campos requeridos vacíos
        inputs.forEach((input) => {
            if (!input.value) {
                input.classList.add('is-invalid');
            }
        });

        // Valida los nombres en las rutas
        const rutaFotoJugador = document.getElementById('rutaFotoHidden')?.value;
        const rutaArchivoDeslinde = document.getElementById('rutaDeslindeHidden')?.value;

        if (rutaFotoJugador) {
            const container = document.querySelector('#fotoJugador').closest('.container-input');
            const span = container ? container.querySelector('.iborrainputfile') : null;
            if (span) {
                const fileName = rutaFotoJugador.split('\\').pop().split('/').pop();
                span.textContent = fileName;
            }
        }

        if (rutaArchivoDeslinde) {
            const container = document.querySelector('#archivoDeslinde').closest('.container-input');
            const span = container ? container.querySelector('.iborrainputfile') : null;
            if (span) {
                const fileName = rutaArchivoDeslinde.split('\\').pop().split('/').pop();
                span.textContent = fileName;
            }
        }












    });
    function validateContent(id) {
        const contentDiv = document.getElementById(id);

        // Verifica si el contenido está vacío
        if (contentDiv.textContent.trim() === "") {
            contentDiv.classList.remove('is-valid');
            contentDiv.classList.add('is-invalid');
        } else {
            contentDiv.classList.remove('is-invalid');
            contentDiv.classList.add('is-valid');
            // Llamamos a la función saveContent pasando el id del div
            saveContent(id); // Pasa el id, no el objeto DOM completo
        }
    }

    var mensajeError = '@ViewBag.Mensaje';
    if (mensajeError && mensajeError.trim() !== '') {
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    }
    function datosApoderado(nacimiento) {
        var fechaNacimiento = new Date(nacimiento.value); // Convertir a Date
        if (isNaN(fechaNacimiento)) {
            console.log("Fecha inválida");
            return;
        }

        var hoy = new Date();
        var edad = hoy.getFullYear() - fechaNacimiento.getFullYear();
        var mesActual = hoy.getMonth();
        var diaActual = hoy.getDate();
        var mesNacimiento = fechaNacimiento.getMonth();
        var diaNacimiento = fechaNacimiento.getDate();

        // Ajustar si aún no ha cumplido años en el año actual
        if (mesNacimiento > mesActual || (mesNacimiento === mesActual && diaNacimiento > diaActual)) {
            edad--;
        }
        //console.log(edad);
        var divApoderado = document.getElementById("DatosApoderado");
        //var campos = ["ApoderadoPaterno", "ApoderadoMaterno", "ApoderadoNombres", "ApoderadoTipoDocumento", "ApoderadoDocumento"];

        if (edad < 18) {
            divApoderado.style.display = "block"; // Mostrar el div
            //campos.forEach(id => document.getElementById(id).setAttribute("required", "required"));
        } else {
            divApoderado.style.display = "none"; // Ocultar el div
            //campos.forEach(id => document.getElementById(id).removeAttribute("required"));
        }
    }

    //Para los archivos cargados
    'use strict';
    (function (document, window, index) {
        var inputs = document.querySelectorAll('.inputfile');
        Array.prototype.forEach.call(inputs, function (input) {
            var label = input.nextElementSibling,
                labelVal = label.querySelector('.iborrainputfile').innerHTML;

            input.addEventListener('change', function (e) {
                var fileName = this.files.length > 1
                    ? (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length)
                    : e.target.value.split('\\').pop();

                if (fileName) {
                    label.querySelector('.iborrainputfile').innerHTML = fileName;
                    input.closest('.container-input').classList.add('has-file');
                } else {
                    label.querySelector('.iborrainputfile').innerHTML = labelVal;
                    input.closest('.container-input').classList.remove('has-file');
                }
            });
        });
    }(document, window, 0));

    // Función para previsualizar imágenes/documentos
    let selectedFiles = {}; // Diccionario para almacenar archivos seleccionados

    function previewImage(event, inputId) {
        const file = event.target.files[0];
        if (file) {
            selectedFiles[inputId] = file; // Guardar archivo según su inputId
            const span = document.querySelector(`label[for="${inputId}"] .iborrainputfile`);
            if (span) {
                span.textContent = file.name;
            }
        }
    }

    // Función para mostrar la previsualización
    function showImagePreview(inputId) {
        const previewModal = document.getElementById('imageModal');
        const image = document.getElementById('logoPreview'); // Elemento de la imagen
        const rutaHidden = document.getElementById(inputId === 'fotoJugador' ? 'rutaFotoHidden' : 'rutaDeslindeHidden').value;

        if (selectedFiles[inputId]) {
            // Si hay un archivo nuevo seleccionado, mostrarlo
            const reader = new FileReader();
            reader.onload = function (e) {
                image.src = e.target.result;
            };
            reader.readAsDataURL(selectedFiles[inputId]);
        } else if (rutaHidden) {
            // Si no hay archivo nuevo, pero hay una ruta almacenada
            let webPath = rutaHidden.replace(/\\/g, '/').replace('wwwroot/', '');
            if (!webPath.startsWith('/')) {
                webPath = '/' + webPath;
            }

            if (inputId === 'archivoDeslinde') {
                // Si es un PDF o Word, mostrar un ícono en lugar de una imagen
                image.src = webPath.endsWith('.pdf') ? '/images/pdf-icon.png' : '/images/doc-icon.png';
            } else {
                image.src = webPath;
            }

            // Establecer el enlace de descarga
            document.getElementById('downloadBtn').href = webPath;
        }
    }


</script>