@model WebFPRTest.Areas.Externo.Models.Equipo.EquipoViewModel
@{
    Layout = "_LayoutExterno";
}
<form method="post" asp-area="Externo" asp-action="Equipo" asp-controller="Equipo" enctype="multipart/form-data">
    <input type="text" asp-for="@Model.Id_Equipo" hidden />
    <div class="container">
        <div class="row g-2">
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" id="nombreClub" class="form-control" placeholder="Nombre del Club" asp-for="@Model.Nombre" required/>
                    <label for="nombreClub">Nombre del Club</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" id="siglas" class="form-control" placeholder="Siglas del Club" asp-for="@Model.Siglas" required/>
                    <label for="siglas">Siglas del Club</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" id="ruc" class="form-control" placeholder="RUC" asp-for="@Model.RUC" required/>
                    <label for="rub">RUC</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" id="razonSocial" class="form-control" placeholder="Razón Social" asp-for="@Model.RazonSocial" required/>
                    <label for="razonSocial">Razón Social</label>
                </div>
            </div>
            <input type="hidden" id="rutaLogoHidden" value="@Model.RutaLogo" />
            <div class="col-12 d-flex align-items-center">
                <div class="container-input">
                    <input type="file"
                           id="file-1"
                           class="inputfile inputfile-1"
                           asp-for="@Model.Logo"
                           accept=".jpg,.jpeg,.png"
                           onchange="previewImage(event)"
                           data-val="false" /> <!-- Agregar esto para hacerlo no requerido -->
                    <label for="file-1">
                        <div class="label-text">Ruta Logo (Opcional)</div>
                        <span class="iborrainputfile">Seleccionar Logo</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" id="verLogo">Ver</a>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" id="representanteLegal" class="form-control" placeholder="Representante Legal" asp-for="@Model.RepresentanteLegal" required />
                    <label for="representanteLegal">Representante Legal</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" id="usuarioAdministrativo" class="form-control" placeholder="Usuario Administrativo" asp-for="@Model.UsuarioAdministrativo" required />
                    <label for="usuarioAdministrativo">Usuario Administrativo</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" id="contacto" class="form-control" placeholder="Contacto" asp-for="@Model.Contacto" />
                    <label for="contacto">Contacto</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <input type="text" id="lugarEntrenamiento" class="form-control" placeholder="Lugar de Entrenamiento" asp-for="@Model.LugarEntrenamiento" />
                    <label for="lugarEntrenamiento">Lugar de Entrenamiento</label>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="row g-2 mt-2 mx-2">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row row-cols-3 g-2">
                        <div class="col d-flex align-items-center">
                            <div class="form-check form-switch ms-0 ms-sm-0 ms-md-0 ms-lg-4">
                                <input type="checkbox" id="Lunes" class="form-check-input" asp-for="@Model.Horarios.Lunes" />
                                <label>Lunes</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Lunes_HI" class="form-control" asp-for="@Model.Horarios.Lunes_HI" />
                                <label>Inicio</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Lunes_HF" class="form-control" asp-for="@Model.Horarios.Lunes_HF" />
                                <label>Fin</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row row-cols-3 g-2">
                        <div class="col d-flex align-items-center">
                            <div class="form-check form-switch ms-0 ms-sm-0 ms-md-0 ms-lg-4">
                                <input type="checkbox" id="Martes" class="form-check-input" asp-for="@Model.Horarios.Martes" />
                                <label>Martes</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Martes_HI" class="form-control" asp-for="@Model.Horarios.Martes_HI" />
                                <label>Inicio</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Martes_HF" class="form-control" asp-for="@Model.Horarios.Martes_HF" />
                                <label>Fin</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row row-cols-3 g-2">
                        <div class="col d-flex align-items-center">
                            <div class="form-check form-switch ms-0 ms-sm-0 ms-md-0 ms-lg-4">
                                <input type="checkbox" id="Miercoles" class="form-check-input" asp-for="@Model.Horarios.Miercoles" />
                                <label>Miércoles</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Miercoles_HI" class="form-control" asp-for="@Model.Horarios.Miercoles_HI" />
                                <label>Inicio</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Miercoles_HF" class="form-control" asp-for="@Model.Horarios.Miercoles_HF" />
                                <label>Fin</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row row-cols-3 g-2">
                        <div class="col d-flex align-items-center">
                            <div class="form-check form-switch ms-0 ms-sm-0 ms-md-0 ms-lg-4">
                                <input type="checkbox" id="Jueves" class="form-check-input" asp-for="@Model.Horarios.Jueves" />
                                <label>Jueves</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Jueves_HI" class="form-control" asp-for="@Model.Horarios.Jueves_HI" />
                                <label>Inicio</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Jueves_HF" class="form-control" asp-for="@Model.Horarios.Jueves_HF" />
                                <label>Fin</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row row-cols-3 g-2">
                        <div class="col d-flex align-items-center">
                            <div class="form-check form-switch ms-0 ms-sm-0 ms-md-0 ms-lg-4">
                                <input type="checkbox" id="Viernes" class="form-check-input" asp-for="@Model.Horarios.Viernes" />
                                <label>Viernes</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Viernes_HI" class="form-control" asp-for="@Model.Horarios.Viernes_HI" />
                                <label>Inicio</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Viernes_HF" class="form-control" asp-for="@Model.Horarios.Viernes_HF" />
                                <label>Fin</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="row row-cols-3 g-2">
                        <div class="col d-flex align-items-center">
                            <div class="form-check form-switch ms-0 ms-sm-0 ms-md-0 ms-lg-4">
                                <input type="checkbox" id="Sabado" class="form-check-input" asp-for="@Model.Horarios.Sabado" />
                                <label>Sábado</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Sabado_HI" class="form-control" asp-for="@Model.Horarios.Sabado_HI" />
                                <label>Inicio</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Sabado_HF" class="form-control" asp-for="@Model.Horarios.Sabado_HF" />
                                <label>Fin</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 mb-2">
                    <div class="row row-cols-3 g-2">
                        <div class="col d-flex align-items-center">
                            <div class="form-check form-switch ms-0 ms-sm-0 ms-md-0 ms-lg-4">
                                <input type="checkbox" id="Domingo" class="form-check-input" asp-for="@Model.Horarios.Domingo" />
                                <label>Domingo</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Domingo_HI" class="form-control" asp-for="@Model.Horarios.Domingo_HI" />
                                <label>Inicio</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="time" id="Domingo_HF" class="form-control" asp-for="@Model.Horarios.Domingo_HF" />
                                <label>Fin</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-outline-success">Registrar</button>
        </div>
    </div>
</form>
<!-- Modal para el mensaje de del TempData -->
@if (TempData["Mensaje"] != null)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @TempData["Mensaje"] 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal para mostrar la miniatura de la imagen -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Vista previa del logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="logoPreview" src="" alt="Logo preview" style="max-width: 100%; height: auto;" />
            </div>
            <div class="modal-footer">
                <!-- Botón para descargar la imagen original -->
                <a id="downloadBtn" href="#" class="btn btn-primary" download>
                    Descargar Imagen Original
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        var mensaje = '@TempData["Mensaje"]';  
        if (mensaje && mensaje.trim() !== '') {
            $('#myModal').modal('show');  
        }
    });

    'use strict';
    (function (document, window, index) {
        var inputs = document.querySelectorAll('.inputfile');
        Array.prototype.forEach.call(inputs, function (input) {
            var label = input.nextElementSibling,
                labelVal = label.querySelector('.iborrainputfile').innerHTML;

            input.addEventListener('change', function (e) {
                var fileName = '';
                if (this.files && this.files.length > 1)
                    fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                else
                    fileName = e.target.value.split('\\').pop();

                if (fileName) {
                    label.querySelector('.iborrainputfile').innerHTML = fileName;
                    input.closest('.container-input').classList.add('has-file');
                } else {
                    label.querySelector('.iborrainputfile').innerHTML = labelVal;
                    input.closest('.container-input').classList.remove('has-file');
                }
            });
        });
    }(document, window, 0));

    let selectedFile = null; // Variable global para mantener el archivo seleccionado

    // Función para previsualizar la imagen seleccionada
    function previewImage(event) {
        const file = event.target.files[0];
        if (file) {
            selectedFile = file; // Guardamos el archivo seleccionado

            // Actualizar el texto del input para mostrar el nombre del archivo
            const span = document.querySelector('.iborrainputfile');
            if (span) {
                span.textContent = file.name;
            }
        }
    }

    // Función para mostrar la imagen en el modal
    function showImagePreview() {
        const image = document.getElementById('logoPreview');
        const rutaLogo = document.getElementById('rutaLogoHidden').value;

        // Si hay un archivo nuevo seleccionado
        if (selectedFile) {
            const reader = new FileReader();
            reader.onload = function (e) {
                image.src = e.target.result;
            }
            reader.readAsDataURL(selectedFile);
        }
        // Si no hay archivo nuevo pero hay una ruta existente
        else if (rutaLogo) {
            // Limpiar la ruta para acceder desde el navegador
            let webPath = rutaLogo
                .replace('wwwroot\\', '')  // Quitar wwwroot si existe
                .replace('wwwroot/', '')   // Por si acaso usa forward slash
                .replace(/\\/g, '/');      // Reemplazar todos los backslash por forward slash

            // Asegurarnos que la ruta empiece con /
            if (!webPath.startsWith('/')) {
                webPath = '/' + webPath;
            }

            console.log('Ruta web final:', webPath); // Para debugging
            image.src = webPath;

            // Establecer el enlace de descarga para la imagen original
            const downloadButton = document.getElementById('downloadBtn');
            downloadButton.href = webPath;  // Asigna la ruta de la imagen original
        }
    }


    // Inicialización cuando el documento está listo
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener la ruta del logo del modelo
        const rutaLogo = document.getElementById('rutaLogoHidden')?.value;

        // Si hay una ruta existente, mostrar el nombre del archivo en el input
        if (rutaLogo) {
            const span = document.querySelector('.iborrainputfile');
            if (span) {
                // Obtener solo el nombre del archivo de la ruta completa
                const fileName = rutaLogo.split('\\').pop().split('/').pop();
                span.textContent = fileName;
            }
        }

        // Agregar el evento click al botón "Ver"
        document.getElementById('verLogo').addEventListener('click', showImagePreview);

        // Función que habilita o deshabilita los campos de horario según el estado del checkbox
        function toggleHorario(dia) {
            let checkbox = document.getElementById(dia);
            let inputInicio = document.getElementById(dia + "_HI");
            let inputFin = document.getElementById(dia + "_HF");

            if (checkbox.checked) {
                inputInicio.removeAttribute("disabled");
                inputFin.removeAttribute("disabled");
            } else {
                inputInicio.setAttribute("disabled", "disabled");
                inputFin.setAttribute("disabled", "disabled");
                inputInicio.value = ""; // Limpiar valores
                inputFin.value = "";
            }
        }

        // Lista de los días de la semana
        let dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"];

        // Agregar evento a cada checkbox
        dias.forEach(dia => {
            let checkbox = document.getElementById(dia);
            if (checkbox) {
                checkbox.addEventListener("change", function () {
                    toggleHorario(dia);
                });

                // Llamar la función al cargar la página para establecer el estado inicial
                toggleHorario(dia);
            }
        });

        // Para validar campos
        const contentDivs = document.querySelectorAll('[contenteditable][required]');
        contentDivs.forEach((div) => {
            validateContent(div.id);
        });

        // Selecciona todos los inputs y selects con atributo `required`
        const inputs = document.querySelectorAll('input[required], select[required]');

        inputs.forEach((input) => {
            // Agrega un evento `input` para validar en tiempo real
            input.addEventListener('input', function () {
                if (input.checkValidity()) {
                    input.classList.remove('is-invalid');
                    input.classList.add('is-valid');
                } else {
                    input.classList.remove('is-valid');
                    input.classList.add('is-invalid');
                }
            });

            // Aplica la validación al salir del campo
            input.addEventListener('blur', function () {
                if (input.checkValidity()) {
                    input.classList.remove('is-invalid');
                    input.classList.add('is-valid');
                } else {
                    input.classList.remove('is-valid');
                    input.classList.add('is-invalid');
                }
            });
        });

        // Aplica un borde rojo inicial para campos requeridos vacíos
        inputs.forEach((input) => {
            if (!input.value) {
                input.classList.add('is-invalid');
            }
        });

    });
</script>