@model WebFPRTest.Areas.Externo.Models.Inscripcion.InscripcionViewModel
@{
    Layout = "_LayoutExterno";
    var nombreEquipo = Context.Session.GetString("NombreEquipo");
}
<form asp-action="Inscripcion" asp-controller="Inscripcion" method="post" asp-area="Externo" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id_Jugador"/>
    <input type="hidden" asp-for="Id_Equipo"/>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <h2>@nombreEquipo</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Paterno" disabled/>
                            <label>Ap.Paterno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Materno" disabled/>
                            <label>Ap.Materno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Nombres" disabled/>
                            <label>Nombres</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <select class="form-select" asp-for="Id_001_TipoDocumento" disabled>
                                @foreach(var tipoDocumento in Model.TipoDocumentos)
                                {
                                    <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                                }
                            </select>
                            <label>Tipo Documento</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Documento" disabled/>
                            <label>N° Documento</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Correo"/>
                            <label>Correo World Rugby Passport</label>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row mt-2 mb-0 p-0">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-end">
                <a class="me-2" href="~/Archivos/FichaMedica.pdf" download="FichaMedica.pdf">
                    Formato Acta Médica <i class="bi-filetype-pdf"></i>
                </a>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                <input type="hidden" id="rutaHidden-ActaMedica" value="@Model.RutaActaMedica" />
                <div class="container-input">
                    <input type="file"
                           id="file-ActaMedica"
                           class="inputfile inputfile-1"
                           asp-for="ActaMedica"
                           accept=".pdf"
                           onchange="previewFile(event, 'file-ActaMedica','RegistroActaMedica','VencimientoActaMedica')"
                           data-val="false" />
                    <label for="file-ActaMedica">
                        <div class="label-text">Documento Acta Médica</div>
                        <span class="iborrainputfile">Seleccionar Documento Acta Médica</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" onclick="showFilePreview('file-ActaMedica')" data-bs-toggle="modal" data-bs-target="#pdfModal">Ver</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" id="RegistroActaMedica" onblur="FechaVencimiento('VencimientoActaMedica', 1)" disabled required asp-for="FechaRegistroActaMedica"/>
                    <label for="RegistroActaMedica">Registro</label>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control input-disabled" id="VencimientoActaMedica" readonly asp-for="FechaVencimientoActaMedica" />
                    <label for="VencimientoActaMedica">Vencimiento</label>
                </div>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                <input type="hidden" id="rutaHidden-RugbyReady" value="@Model.RutaRugbyReady" />
                <div class="container-input">
                    <input type="file"
                           id="file-RugbyReady"
                           class="inputfile inputfile-1"
                           asp-for="RugbyReady"
                           accept=".pdf"
                           onchange="previewFile(event, 'file-RugbyReady','RegistroRugbyReady','VencimientoRugbyReady')"
                           data-val="false" />
                    <label for="file-RugbyReady">
                        <div class="label-text">Documento Rugby Ready</div>
                        <span class="iborrainputfile">Seleccionar Documento Rugby Ready</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" onclick="showFilePreview('file-RugbyReady')" data-bs-toggle="modal" data-bs-target="#pdfModal">Ver</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" id="RegistroRugbyReady" onblur="FechaVencimiento('VencimientoRugbyReady', 2)" disabled required asp-for="FechaRegistroRugbyReady" />
                    <label for="RegistroRugbyReady">Registro</label>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control input-disabled" id="VencimientoRugbyReady" asp-for="FechaVencimientoRugbyReady"/>
                    <label for="VencimientoRugbyReady">Vencimiento</label>
                </div>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                <input type="hidden" id="rutaHidden-RugbyLaws" value="@Model.RutaRugbyLaws" />
                <div class="container-input">
                    <input type="file"
                           id="file-RugbyLaws"
                           class="inputfile inputfile-1"
                           asp-for="RugbyLaws"
                           accept=".pdf"
                           onchange="previewFile(event, 'file-RugbyLaws','RegistroRugbyLaws','VencimientoRugbyLaws')"
                           data-val="false" />
                    <label for="file-RugbyLaws">
                        <div class="label-text">Documento Rugby Laws</div>
                        <span class="iborrainputfile">Seleccionar Documento Rugby Laws</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" onclick="showFilePreview('file-RugbyLaws')" data-bs-toggle="modal" data-bs-target="#pdfModal">Ver</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" id="RegistroRugbyLaws" onblur="FechaVencimiento('VencimientoRugbyLaws', 2)" disabled required asp-for="FechaRegistroRugbyLaws"/>
                    <label for="RegistroRugbyLaws">Registro</label>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control input-disabled" id="VencimientoRugbyLaws" readonly asp-for="FechaVencimientoRugbyLaws"/>
                    <label for="VencimientoRugbyLaws">Vencimiento</label>
                </div>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                <input type="hidden" id="rutaHidden-KeepRugbyClean" value="@Model.RutaKeepRugbyClean" />
                <div class="container-input">
                    <input type="file"
                           id="file-KeepRugbyClean"
                           class="inputfile inputfile-1"
                           asp-for="KeepRugbyClean"
                           accept=".pdf"
                           onchange="previewFile(event, 'file-KeepRugbyClean','RegistroKeepRugbyClean','VencimientoKeepRugbyClean')"
                           data-val="false" />
                    <label for="file-KeepRugbyClean">
                        <div class="label-text">Documento Keep Rugby Clean</div>
                        <span class="iborrainputfile">Seleccionar Documento Keep Rugby Clean</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" onclick="showFilePreview('file-KeepRugbyClean')" data-bs-toggle="modal" data-bs-target="#pdfModal">Ver</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" id="RegistroKeepRugbyClean" onblur="FechaVencimiento('VencimientoKeepRugbyClean', 2)" disabled required asp-for="FechaRegistroKeepRugbyClean" />
                    <label for="RegistroKeepRugbyClean">Registro</label>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control input-disabled" id="VencimientoKeepRugbyClean" readonly asp-for="FechaVencimientoKeepRugbyClean"/>
                    <label for="VencimientoKeepRugbyClean">Vencimiento</label>
                </div>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                <input type="hidden" id="rutaHidden-PrimerosAuxilios" value="@Model.RutaPrimerosAuxilios" />
                <div class="container-input">
                    <input type="file"
                           id="file-PrimerosAuxilios"
                           class="inputfile inputfile-1"
                           asp-for="PrimerosAuxilios"
                           accept=".pdf"
                           onchange="previewFile(event, 'file-PrimerosAuxilios','RegistroPrimerosAuxilios','VencimientoPrimerosAuxilios')"
                           data-val="false" />
                    <label for="file-PrimerosAuxilios">
                        <div class="label-text">Documento Primeros Auxilios</div>
                        <span class="iborrainputfile">Seleccionar Documento Primeros Auxilios</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" onclick="showFilePreview('file-PrimerosAuxilios')" data-bs-toggle="modal" data-bs-target="#pdfModal">Ver</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" id="RegistroPrimerosAuxilios" onblur="FechaVencimiento('VencimientoPrimerosAuxilios', 2)" disabled required asp-for="FechaRegistroPrimerosAuxilios"/>
                    <label for="RegistroPrimerosAuxilios">Registro</label>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control input-disabled" id="VencimientoPrimerosAuxilios" readonly asp-for="FechaVencimientoPrimerosAuxilios"/>
                    <label for="VencimientoPrimerosAuxilios">Vencimiento</label>
                </div>
            </div>
        </div>
        <div class="row mt-2 g-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                <input type="hidden" id="rutaHidden-ConmocionCerebral" value="@Model.RutaConmocionCerebral" />
                <div class="container-input">
                    <input type="file"
                           id="file-ConmocionCerebral"
                           class="inputfile inputfile-1"
                           asp-for="ConmocionCerebral"
                           accept=".pdf"
                           onchange="previewFile(event, 'file-ConmocionCerebral','RegistroConmocionCerebral','VencimientoConmocionCerebral')"
                           data-val="false" />
                    <label for="file-ConmocionCerebral">
                        <div class="label-text">Documento Conmocion Cerebral</div>
                        <span class="iborrainputfile">Seleccionar Documento Conmocion Cerebral</span>
                    </label>
                </div>
                <div class="ms-auto px-3">
                    <a href="#" onclick="showFilePreview('file-ConmocionCerebral')" data-bs-toggle="modal" data-bs-target="#pdfModal">Ver</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control" id="RegistroConmocionCerebral" onblur="FechaVencimiento('VencimientoConmocionCerebral', 2)" disabled required asp-for="FechaRegistroConmocionCerebral"/>
                    <label for="RegistroConmocionCerebral">Registro</label>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <div class="form-floating">
                    <input type="date" class="form-control input-disabled" id="VencimientoConmocionCerebral" readonly asp-for="FechaVencimientoConmocionCerebral"/>
                    <label for="VencimientoConmocionCerebral">Vencimiento</label>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-outline-success">
                Registrar
            </button>
        </div>
    </div>
</form>
<!-- Modal para PDFs -->
<div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfModalLabel">Vista previa del PDF</h5>
            </div>
            <div class="modal-body">
                <embed id="pdfPreview" src="" type="application/pdf" width="100%" height="600px" />
            </div>
            <div class="modal-footer">
                <a id="pdfDownloadBtn" href="#" class="btn btn-primary" download>
                    Descargar PDF Original
                </a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let inputs = document.querySelectorAll('.inputfile');
        inputs.forEach(input => {
            let label = input.nextElementSibling;
            let labelVal = label.querySelector('.iborrainputfile').innerHTML;

            input.addEventListener('change', function (e) {
                let fileName = '';
                let file = this.files[0];

                // Validar si es un archivo PDF
                if (file && file.type !== "application/pdf") {
                    alert("Solo se permiten archivos PDF.");
                    this.value = ""; // Limpiar el input
                    label.querySelector('.iborrainputfile').innerHTML = labelVal;
                    input.closest('.container-input').classList.remove('has-file');
                    return;
                }

                if (file) {
                    fileName = file.name;
                    label.querySelector('.iborrainputfile').innerHTML = fileName;
                    input.closest('.container-input').classList.add('has-file');
                } else {
                    label.querySelector('.iborrainputfile').innerHTML = labelVal;
                    input.closest('.container-input').classList.remove('has-file');
                }
            });
        });
        initializeFileNames();
    });
    
    // Función para previsualizar archivos PDF con validación de tamaño y limpiar campos si es incorrecto
    function previewFile(event, inputId, registroId, vencimientoId) {
        const fileInput = document.getElementById(inputId);
        if (!fileInput) return;

        const file = fileInput.files[0];
        if (!file) return;

        const maxSize = 3 * 1024 * 1024; // 3MB
        const registroInput = document.getElementById(registroId);
        const vencimientoInput = document.getElementById(vencimientoId);

        // Función auxiliar para limpiar campos y deshabilitar
        function limpiarCampos() {
            fileInput.value = ""; // Limpiar el input file
            if (registroInput) {
                registroInput.value = "";
                registroInput.setAttribute("disabled", "true");
                registroInput.removeAttribute("required");
            }
            if (vencimientoInput) {
                vencimientoInput.value = "";
            }
        }

        // Validar si el archivo es PDF
        if (file.type !== "application/pdf") {
            alert("Por favor, seleccione un archivo PDF válido.");
            limpiarCampos();
            return;
        }

        // Validar tamaño del archivo
        if (file.size > maxSize) {
            alert(`El archivo seleccionado excede el tamaño máximo permitido (3MB).`);
            limpiarCampos();
            return;
        }

        // Actualizar el texto del input con el nombre del archivo
        const span = fileInput.nextElementSibling.querySelector('.iborrainputfile');
        if (span) {
            span.textContent = file.name;
        }

        // Habilitar el campo de fecha de registro
        if (registroInput) {
            registroInput.removeAttribute("disabled"); // Habilitar el input
            registroInput.setAttribute("required", "true"); // Hacerlo obligatorio
        }
    }


    //Funcion para mostrar la previsualizacion del archivo
    function showFilePreview(inputId) {
        const fileInput = document.getElementById(inputId);
        const pdfPreview = document.getElementById('pdfPreview');
        const rutaPdfHidden = document.getElementById(inputId.replace('file-', 'rutaHidden-'));
        const downloadBtn = document.getElementById('pdfDownloadBtn');

        if (!fileInput || !pdfPreview || !rutaPdfHidden || !downloadBtn) {
            console.warn(`Elementos no encontrados para: ${inputId}`);
            return;
        }

        const file = fileInput.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                pdfPreview.src = e.target.result;
                downloadBtn.href = e.target.result;
            };
            reader.readAsDataURL(file);
        } else {
            const rutaPdf = rutaPdfHidden.value;
            if (rutaPdf) {
                let webPath = formatPath(rutaPdf);
                pdfPreview.src = webPath;
                downloadBtn.href = webPath;
            }
        }
    }

    // Función auxiliar para formatear las rutas
    function formatPath(path) {
        let webPath = path
            .replace('wwwroot\\', '')
            .replace('wwwroot/', '')
            .replace(/\\/g, '/');

        if (!webPath.startsWith('/')) {
            webPath = '/' + webPath;
        }
        return webPath;
    }

    //// Inicializar nombres de archivos al cargar la página
    //function initializeFileNames() {
    //    document.querySelectorAll('input[type="hidden"][id^="rutaHidden-"]').forEach(hiddenInput => {
    //        const filePath = hiddenInput.value;
    //        if (!filePath) return;

    //        const fileName = filePath.split('\\').pop(); // Extrae solo el nombre del archivo
    //        const fileInputId = hiddenInput.id.replace('rutaHidden-', 'file-'); // Genera el ID del input file

    //        const fileInput = document.getElementById(fileInputId);
    //        if (fileInput) {
    //            const label = fileInput.nextElementSibling;
    //            const span = label.querySelector('.iborrainputfile');
    //            if (span) {
    //                span.textContent = fileName;
    //                fileInput.closest('.container-input').classList.add('has-file');
    //            }
    //        }
    //    });
    //}

    // Inicializar nombres de archivos y habilitar fechas de registro al cargar la página
    function initializeFileNames() {
        document.querySelectorAll('input[type="hidden"][id^="rutaHidden-"]').forEach(hiddenInput => {
            const filePath = hiddenInput.value;
            if (!filePath) return;

            const fileName = filePath.split('\\').pop(); // Extrae solo el nombre del archivo
            const fileInputId = hiddenInput.id.replace('rutaHidden-', 'file-'); // Genera el ID del input file

            const fileInput = document.getElementById(fileInputId);
            if (fileInput) {
                const label = fileInput.nextElementSibling;
                const span = label.querySelector('.iborrainputfile');
                if (span) {
                    span.textContent = fileName;
                    fileInput.closest('.container-input').classList.add('has-file');
                }

                // Habilitar la fecha de registro asociada
                const registroInputId = fileInputId.replace('file-', 'Registro'); // Generar el ID del input de fecha de registro
                const registroInput = document.getElementById(registroInputId);
                if (registroInput) {
                    registroInput.removeAttribute("disabled"); // Habilitar el input
                    registroInput.setAttribute("required", "true"); // Hacerlo obligatorio
                }
            }
        });
    }

    // Función para calcular la fecha de vencimiento
    function FechaVencimiento(idVencimiento, anios) {
        const registroInput = event.target;
        const vencimientoInput = document.getElementById(idVencimiento);

        if (registroInput && vencimientoInput) {
            const fechaRegistro = new Date(registroInput.value);

            if (!isNaN(fechaRegistro)) {
                fechaRegistro.setFullYear(fechaRegistro.getFullYear() + anios); // Sumar años
                vencimientoInput.value = fechaRegistro.toISOString().split("T")[0]; // Formato YYYY-MM-DD
            }
        }
    }
</script>
