@model WebFPRTest.Areas.Interno.Models.Usuario.UsuarioFiltroViewModel
@{
    Layout = "_LayoutInterno";
}
<form asp-action="Index" asp-asp-controller="Usario" method="post">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row row-cols2 align-content-between">
                    <div class="col">
                        <h1>Usuarios</h1>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <a class="btn btn-outline-warning" asp-action="GuardarUsuarioSeleccionado" asp-controller="Usuario" asp-route-id_Usuario="0">
                            Nuevo<i class="bi-person-add"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mt-2 g-2">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Apellido Paterno" asp-for="Paterno" id="Paterno" />
                            <label for="Paterno">Apellido Paterno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Apellido Materno" asp-for="Materno" id="Materno" />
                            <label>Apellido Materno</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Nombres" asp-for="Nombres" id="Nombres" />
                            <label>Nombres</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Numero Documento" asp-for="Documento" id="Documento" />
                            <label>Numero Documento</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Correo Electronico" asp-for="Correo" id="Correo" />
                            <label>Correo Electronico</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex justify-content-end align-items-center">
                        <button type="submit" class="btn btn-outline-primary me-2">Filtrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive-md mt-2">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Tipo Usuario</th>
                        <th>Club</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var usuarios in Model.ListaUsuarios)
                    {
                        <tr class="align-middle"> 
                            <td>@usuarios.Indice</td>
                            <td>@usuarios.ApellidosYNombre</td>
                            <td>@usuarios.Usuario</td>
                            <td>@usuarios.TipoUsuario</td>
                            <td>@usuarios.NombreEquipo</td>
                            <td class="text-end">
                                @*<a class="btn btn-outline-warning" asp-action="Usuario" asp-controller="Usuario" asp-route-Id_Usuario="@usuarios.Id_Usuario">
                                    <i class="bi-eye"></i>
                                </a>*@
                                <a class="btn btn-outline-warning" asp-action="GuardarUsuarioSeleccionado" asp-controller="Usuario" asp-route-id_Usuario="@usuarios.Id_Usuario">
                                    <i class="bi-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    
</script>