@model WebFPRTest.Areas.Interno.Models.Usuario.UsuarioViewModel
@{
    Layout = "_LayoutInterno";
}
<form asp-controller="Usuario" asp-action="Usuario" method="post" asp-area="Interno">
    <input type="text" asp-for="Id_Usuario" />
    <input type="text" asp-for="Id_Persona" />
    <div class="container">
        <div class="row mt-2 g-2">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <select class="form-select" asp-for="Id_001_TipoDocumento" id="Id_001_TipoDocumento" onchange="ValidarPersona()">
                        <option></option>
                        @foreach (var tipoDocumento in Model.TipoDocumentoList)
                        {
                            <option value="@tipoDocumento.Id_Parametros">@tipoDocumento.Abreviatura</option>
                        }
                    </select>
                    <label>Tipo Documento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" id="Documento" class="form-control" asp-for="Documento" onblur="ValidarPersona()" />
                    <label for="Documento">N° Documento</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" id="Paterno" class="form-control" asp-for="Paterno" />
                    <label for="Paterno">Paterno</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" id="Materno" class="form-control" asp-for="Materno" />
                    <label for="Materno">Materno</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" id="Nombres" class="form-control" asp-for="Nombres" />
                    <label for="Nombres">Nombres</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating">
                    <input type="text" id="Correo" class="form-control" asp-for="Correo" />
                    <label for="Correo">N° Correo</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" id="Celular" class="form-control" asp-for="Celular" />
                    <label for="Celular">Celular</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">

                <div class="form-floating">
                    <select class="form-select" asp-for="Id_011_TipoUsuario" id="Id_011_TipoUsuario">
                        <option></option>
                        @foreach (var tipoUsuario in Model.TipoUsuarioList)
                        {
                            <option value="@tipoUsuario.Id_Parametros">@tipoUsuario.Descripcion</option>
                        }
                    </select>
                    <label>Tipo Usuario</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="text" id="Usuario" class="form-control" asp-for="Usuario" />
                    <label for="Usuario">Usuario</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="password" id="Clave" class="form-control" asp-for="Clave" />
                    <label for="Clave">Clave</label>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3">
                <div class="form-floating">
                    <input type="password" id="ClaveConfirmacion" class="form-control" asp-for="ClaveConfirmacion" />
                    <label for="ClaveConfirmacion">Confirmar Clave</label>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-outline-success">Registrar</button>
            <button type="button" class="btn btn-outline-danger">Anular</button>
            <button type="button" class="btn btn-outline-secondary">Regresar</button>
        </div>
    </div>
</form>
<!-- Modal para el mensaje de del TempData -->
@if (TempData["Mensaje"] != null)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    @TempData["Mensaje"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    $(document).ready(function () {
        var mensaje = '@TempData["Mensaje"]';
        if (mensaje && mensaje.trim() !== '') {
            $('#myModal').modal('show');
        }
    });
    function ValidarPersona()
    {
        var idTipoDocumento = $("#Id_001_TipoDocumento").val();
        var documento = $("#Documento").val();
        if (idTipoDocumento && documento)
        {
            console.log(idTipoDocumento);
            console.log(documento);
            $.get("/Interno/Usuario/ValidarPersona", { idTipoDocumento: idTipoDocumento, documento: documento }, function (data)
            {
                if (data) {
                    // Si la persona existe, llenar los campos
                    $("#Id_Persona").val(data.id_Persona);
                    $("#Paterno").val(data.paterno);
                    $("#Materno").val(data.materno);
                    $("#Nombres").val(data.nombres);
                    $("#Celular").val(data.celular);
                    $("#Correo").val(data.correo);
                    }
            });
        }
    }
</script>